<!DOCTYPE html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Splurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class='col-xs-2'>
      <%= link_to root_path, class: 'logo' do %>
        <div class="circle">
          <br />
          Fuel
          <br />
          the
          <br />
          wanderlust
        </div>
      <% end %>
    </div><!--div.class=col-xs-3'-->
    <div class='col-xs-4 hidden-xs'>
      Those damn travel inspiration quotes
    </div><!--div.class=col-xs-4'-->
    <div class='col-xs-5 links'>
       <!-- Button trigger modal -->
      <%= link_to 'Contribute', '#', data: {toggle: 'modal', target: '#myModal'} %>
      &nbsp;&nbsp;
      <%= link_to 'About', about_path %>
    </div><!--div.class=col-xs-5'-->
  </header>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Contribute your quote</h4>
        </div>
        <%= simple_form_for Quote.new do |f| %>
          <div class="modal-body">
            <%= f.input :saying, label: "What is your travel wisdom?" %>
            <br />
            <%= f.input :author, label: "Who is the author of this quote?" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= f.submit 'Add Quote', class: 'btn btn-danger' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>


  <hr />

<br class='clear' />

<div class='container'>
  <% if flash[:error].present? %>
        <div class="col-xs-10 col-xs-offset-1 alert alert-danger">
          <%= flash[:error].html_safe %>
        </div>
      <% end %>
  <%= yield %>
</div><!--div.class=container-->

<div class="footer">
    <div class="container">
        <div class="col-xs-12 col-sm-6 next-quote">
        <%= link_to "This isn't enough, I need more", root_path %>
      </div>
      <div class="col-xs-12 col-sm-6 copyright text-muted footer-blurb">
        &copy; <a href="http://www.cargocollective.com/ericalai">Erica Lai</a>, 2016
      </div>
    </div><div class='container'>
</div><!--div.class.footer-->

</body>
</html>
